<div class="row">
    @{
        int noteID = (int)Model; // supply noteID as integer

        //does not work for localhost as localhost is not routable but will work when hosted online
        string url = "https://docs.google.com/gview?url=" +
            Request.Url.AbsoluteUri.Replace(Request.Url.AbsolutePath, "") +
            "/Notes/Download/" + noteID + "&embedded=true";
    }
</div>

<div class="row container">
    <iframe src="@url"
            style="width: 100%; height: 80%"></iframe>
</div>
