@model Studion.ViewModels.NotesSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Finalised-->
<h2>Search available notes</h2>

<form id="search-form">
    <div class="row">
        <div class="form-group col-md-3">
            @Html.DropDownListFor(n => n.SubjectID, new SelectList(Model.SubjectList, "SubjectID", "SubjectName"), "--Select Subject--", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-3">
            @Html.DropDownListFor(n => n.LevelID, new SelectList(Model.LevelList, "LevelID", "LevelName"), "--Select Level--", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-3">
            @Html.DropDownListFor(n => n.ExamBoardID, new SelectList(Model.ExamBoardList, "ExamBoardID", "ExamBoardName"), "--Select Board / University--", new { @class = "form-control" })
        </div>

        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary btn-lg form-control">Search</button>
        </div>
    </div>
</form>


<hr />

<!--Display available notes-->

<div class="row">
    <table id="noteTable" class="display table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Subject</th>
                <th>Level</th>
                <th>Exam Board</th>
                <th>Uploaded</th>
                <th>Downloads</th>
                <th>Av. Rating</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            //instantiate table with style
            var table = $('#note-table');
            table.DataTable();

            //get form
            var form = $('#search-form');

            //called on form submit
            form.on('submit', function(event) {
                event.preventDefault();
                var form = $(this);
                var table = $('#noteTable');

                //reinitialise
                table.DataTable({
                    destroy: true,

                    ajax: {
                        type: 'GET',
                        url: '/api/notes/search?' + form.serialize(),
                        dataSrc: ""
                    },

                    columns: [
                        {
                            data: "title",
                            render: function (data, type, note) {
                                return "<a href='/notes/display/" + note.noteID + "'>" + note.title + "</a>";
                            }
                        },
                        {
                            data: "authorName",
                            render: function (data, type, note) {
                                return "<a href='/users/" + note.authorID + "'>" + note.authorName + "</a>";
                            }
                        },
                        {
                            data: "subjectName"
                        },
                        {
                            data: "levelName"
                        },
                        {
                            data: "examBoardName"
                        },
                        {
                            data: "uploadTime",
                            render: function (data, type) {
                                if (type === "sort" || type === "type") {
                                    return data;
                                }
                                return moment(data).format("MMMM YYYY")
                            }
                        },
                        {
                            data: "downloads"
                        },
                        {
                            data: "averageRating"
                        }
                    ],

                    order: [[6, 'desc']],

                    language: {
                        emptyTable: "We've got nothing on that... Sorry"
                    }
                });

                return false;
            });
        });
    </script>
}



