@model Studion.ViewModels.UsersProfileViewModel


@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.UserName</h1>

<div class="carousel">
    <h2>Notes published by @Model.UserName</h2>
    @Html.Partial("~/Views/Shared/_NoteTable.cshtml", Model.PublishedNotes)
</div>
