@model IList<Studion.Models.Comment>

@{ 
    if (Model.Count == 0)
    {
        <div class="row panel panel-primary">
            <div class="panel-heading">
                <h5 class="panel-title">
                    No Comments Made
                </h5>
            </div>
        </div>
    }

    else
    {
        foreach (var comment in Model)
        {
            <div class="row panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        @(Html.ActionLink(comment.commenter.UserName, "ProfilePage", "Users", new { UserID = comment.commenter.Id }, null)) - @(comment.PostTime.ToShortDateString())
                    </h5>
                </div>

                <div class="panel-body">
                    @comment.CommentMessage
                </div>
            </div>
        }
    }
}