@model Studion.Models.Comment

<li>
    <p>@Html.ActionLink(Model.commenter.UserName, "ProfilePage", "Users", new { UserID = Model.commenter.Id }, null)</p>
    <p>@Model.PostTime.ToShortDateString()</p>
    <p>@Model.CommentMessage</p>
</li>