@{
    ViewBag.Title = "About";
}

<h2>Meet the Trays</h2>

<div class="row container">
    <ul class="list-group">
        <li class="list-group-item">
            <h4>Victor - CEO</h4>
            <p>
                The brains of the operation. "I can handle the business side, you just build the website thingy"
            </p>
            <p>
                <strong>For business concerns: </strong> 
                <a href="mailto:victor.tray@studion-edu.com">victor.tray@studion-edu.com</a>
            </p>
        </li>

        <li class="list-group-item">
            <h4>Lawrence - CTO</h4>
            <p>The man responsible for all the bugs. "I said I'd build the website not that it'd be good"</p>
            <p>
                <strong>For technical issues: </strong>
                <a href="mailto:lawrence.tray@studion-edu.com">lawrence.tray@studion-edu.com</a>
            </p>
        </li>

        <li class="list-group-item">
            <h4>Richard - COO</h4>
            <p>Because the business side needed more expertise. "Why don't you just use the bitcoins"</p>
            <p>
                <strong>If you fancy a chat: </strong>
                <a href="mailto:richard.tray@studion-edu.com">richard.tray@studion-edu.com</a>
            </p>
        </li>
    </ul>
</div>