@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Studion</h1>
    <p class="lead">Studion is a peer-to-peer note sharing service for all your exam troubles</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse notes</h2>
        <p>
            Studion lets you browse and review the content others have uploaded.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Search", "Notes")">Get browsing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upload your own</h2>
        <p>
            Want to share your knowledge? Upload your notes for others to see.
        </p>
        <p><a class="btn btn-primary" href="@Url.Action("Notes", "Upload")">Upload notes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @if (Request.IsAuthenticated)
        {
            <h2>Build a reputation</h2>
            <p>
                Make a name for yourself out there by creating content and engaging with other users.
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("ProfilePage", "Users", new { UserID = User.Identity.GetUserId()})">
                    My profile &raquo;
                </a>
            </p>
        }
        else
        {
            <h2>Build a reputation</h2>
            <p>
                Studion is not just about notes but also about people. Engage with others and sign in.
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("Login", "Account", new { returnUrl = Request.Url.AbsolutePath})">
                    Log in &raquo;
                </a>
            </p>
        }
    </div>
</div>